body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.Sign-Up-Form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgbs(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.Sign-Up-Form
{
    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box
{
border-radius: 20px;
padding: 10px;
margin: 10px 0;
width: 90%;
border: 1px solid #999;
outline: none;
}
button{
    color: #fff;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.SignUp-btn{
    background-color: #1c8adb;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
   outline: none;
}
img{
   width: 70px; 
   margin-top: -50px;
}
